.container {
  width: 600px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -300px;
}
.spread-sheet {
  border-collapse: collapse;
  background-color: #dddddd;
}

table, th, td {
    border: 1px solid black;
}
td {
  width: 50px;
  text-align: center;
}
